@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.after_login {
  display: none;
}

.container {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px;
}

.people-list {
  width: 260px;
  float: left;
  /*
  .fa-search {
    position: relative;
   left: -25px;
  }
  */
}
.people-list .list {
  overflow-y: scroll;
}
.people-list .search {
  padding: 10px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.people-list ul {
  padding: 20px;
  height: 770px;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .name {
  cursor: pointer;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .about:hover {
  background: #5f626b;
}
.people-list .status {
  color: #92959E;
}

.chat {
  width: 490px;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .logOut {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 10px 20px;
  line-height: 26px;
  font-size: 14px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .my-message:hover {
  background: #548640;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:hover {
  background: #3d90de;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message .input_msg {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.button_log {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.button_log:hover {
  color: #3d90de;
}

.groupChat {
  color: #94C2ED;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  background: none;
}
.groupChat:hover {
  color: #3d90de;
}

.button_delete_myMsg {
  float: right;
  color: white;
  background: #86BB71;
  font-size: 11px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.button_delete_myMsg:hover {
  color: black;
}

.button_delete_otherMsg {
  float: right;
  color: white;
  background: #94C2ED;
  font-size: 11px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.button_delete_otherMsg:hover {
  color: black;
}

.button_edit_myMsg {
  float: right;
  color: white;
  background: #86BB71;
  font-size: 11px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.button_edit_myMsg:hover {
  color: black;
}

.button_edit_otherMsg {
  float: right;
  color: white;
  background: #94C2ED;
  font-size: 11px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.button_edit_otherMsg:hover {
  color: black;
}

.button_sendEdit {
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: none;
}
.button_sendEdit:hover {
  color: black;
}

.edited {
  color: white;
  font-size: 12px;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.main-div, .loggedin-div {
  width: 20%;
  margin: 0px auto;
  margin-top: 70px;
  padding: 10px;
}

.main-div .input_ {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div .input_:focus {
  border: 1px solid #777;
}

.main-div .button_, .loggedin-div .button_ {
  background: #94C2ED;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div .button_:hover, .loggedin-div .button_:hover {
  background: #3d90de;
  color: white;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}

.topic_ {
  font-weight: bold;
  font-size: 80px;
  font: 30px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: #1a5d9b;
}

.creatAccount {
  color: #3d90de;
  cursor: pointer;
  font-weight: bold;
}
.creatAccount:hover {
  color: #1a5d9b;
}

.creatAdmin {
  color: white;
  cursor: pointer;
}
.creatAdmin:hover {
  color: #1a5d9b;
}

.backLogin {
  color: #3d90de;
  cursor: pointer;
  font-weight: bold;
}
.backLogin:hover {
  color: #1a5d9b;
}
